[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
langdetect = "*"
ebooklib = "*"
openai = "*"
python-dotenv = "*"
pinecone-client = "*"
umap-learn = "*"
pyarrow = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
